<div class="point-form">
	<%= form_for(@point, html: { multipart: true}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= hidden_field_tag :counterpoint_to_id, counterpoint_to_id if defined? counterpoint_to_id %>
		<%= link_to gravatar_for(current_user, size: 50), current_user %>
		<span class="user"><%= link_to "#{current_user.first_name} #{current_user.last_name}", current_user %></span>
		<span class="field">
			<%= f.text_area :content, placeholder: "Compose new point..." %>
		</span>
		<% if defined? counterpoint_to_id %>
			<%= f.submit "Counter", class: "btn btn-primary" %>
		<% else %>
			<%= f.submit "Make a Point", class: "btn btn-primary" %>
		<% end %>
	<% end %>
</div>

<script type="text/javascript">
	$('#point_picture').bind('change', function() {
		size_in_megabytes = this.file[0].size/1024/1024;
		if (size_in_megabytes > 5) {
			alert('Maximum file size is 5MB. Please choose a smaller file.');
		}
	});
</script>
